<%= form_for @project do |f| %>
  <% if @project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project.errors.count, "error") %> prohibited this question from being saved:</h2>

      <ul>
      <% @project.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :project_title %>
    <%= f.text_field :title %>
    <%= f.label :private %>
    <%= f.check_box :private, :checked => true %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
